---
---
@import url('{{ site.baseurl }}/icons/webfont.css');
@import url('{{ site.baseurl }}/fonts/fonts.css');

@import 'mixins';

/* Theme */
h1 { color: #00005f; }
h2, h4, h6 { color: #666699; border-color: rgba(127, 127, 159, 0.5); }
h3, h5 { color: #9f7fef; }
html { color: #000000; background: #007fff; }
body { color: #000000; background: #ffffff; }
a:link { color: #0000cf; }
a:visited { color: #7f007f; }
a:hover { color: #007fff; }
a:active { color: #ff9f00; }
.post-metadata, .post-date { color: #7f7f8f; }
@media only screen {
	body::before {
		display: block;
		content: "";
		position: fixed;
		top: 0px; bottom: 0px; left: 0px; right: 0px;
		z-index: -1;
		@include vertical-gradient(background-image, rgba(63, 127, 255, 1), rgba(159, 239, 255, 1));
		background-image: url('{{ site.baseurl }}/img/clouds.svg'), linear-gradient(180deg, rgba(63, 127, 255, 1), rgba(159, 239, 255, 1));
		background-size: 100% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	body {
		box-shadow: 0em 0em 2em 0em rgba(255, 255, 255, 0.5);
		background-color: rgba(223, 231, 247, 0.75);
	}
}
@media (prefers-color-scheme: dark) {
	h1 { color: #efefff; }
	h2, h4, h6 { color: #8f8fbf; border-color: rgba(127, 127, 159, 0.5); }
	h3, h5 { color: #bfbfef; }
	.extraheader { color: #9f9f9f; }
	html { color: #ffffff; background: #000000; }
	body { color: #ffffff; background: #0f0f1f; }
	a:link { color: #3fbfff; }
	a:visited { color: #df8fff; }
	a:hover { color: #7fefff; }
	a:active { color: #ffcf5f; }
	.post-metadata, .post-date { color: #7f7f8f; }
	@media only screen {
		body::before {
			@include vertical-gradient(background-image, rgba(0, 0, 0, 1), rgba(0, 31, 63, 1));
			background-image: url('{{ site.baseurl }}/img/clouds-dark.svg'), url('{{ site.baseurl }}/img/stars.webp');
		}
		body {
			box-shadow: 0em 0em 2em 0em rgba(15, 47, 79, 1);
			background-color: rgba(31, 47, 79, 0.5);
		}
	}
}

/* Font settings */
body { line-height: 1.5; }
body { font-family: 'Linux Biolinum', Arial, sans-serif, sans; }
h1, h2, h3, h4, h5, h6 { font-family: Essays1743, serif; line-height: 1.2; margin-bottom: 0.5em; }
h1, h2 { font-weight: normal; }
h3, h4, h5, h6 { font-weight: bold; }

/* Texty elements */
body {
	-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
	counter-reset: figure;
}
h1 {
	margin-top: 0em;
	font-size: 120%;
	&:first-line { font-size: 120%; }
	@media only screen and (min-width: 28em) {
		font-size: 150%;
	}
}
h2 { border-width: 0px 0px 1px; border-style: solid; }
p { margin: 1em 0em; }
ul { padding-left: 2em; }
li { margin-bottom: 0.5em; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: decimal; }
dt { font-weight: bold; margin-left: 1em; margin-top: 0.5em; }
dd { margin-left: 2em; }
img {
	border: none; display: inline-block; vertical-align: middle;
	max-width: 90%;
}
.icon {
	display: inline-block; vertical-align: baseline;
	width: 1em; height: 1em; line-height: 1em;
}
a.icon {
	text-decoration: none;
}
figure { counter-increment: figure; }
figure, figcaption { display: block; text-align: center; }
figcaption {
	font-size: 90%;
	&:before {
		content: 'Figure ' counter(figure) '. ';
		font-variant: small-caps;
	}
}
table {
	margin: 0.5em auto;
	border-spacing: 0em;
	border-collapse: collapse;
}
td, th {
	border: 1px solid #000;
	padding: 0.1em 0.5em;
}

/* Page dimensions */
html { margin: 0em; padding: 0em; }
body { margin: 0em auto; padding: 1em; }
@media only screen {
	html { height: 100%; }
	body {
		position: relative;
		max-width: 50em; min-height: 100%;
		@include box-sizing(border-box);
	}
	*, *:before, *:after {
		@include box-sizing(inherit);
	}
	header { margin: -1em -1em 0.7em; padding: 1em; }
	header h1 { line-height: 1.0; margin: 0em; }
}

/* Page elements */
.iconlinks {
	float: right;
	@include box-sizing(content-box);
	a {
		font-size: 150%;
		padding: 0.25em;
		opacity: 0.8;
		color: #fff;
		transition: color 0.2s, opacity 0.2s, text-shadow 0.2s;
		&:hover, &:active {
			opacity: 1.0;
			text-shadow: 0em 0em 0.2em #fff;
		}
		@media (prefers-color-scheme: dark) {
			color: #9f9fcf;
			opacity: 1.0;
			&:hover, &:active {
				color: #ffffff;
			}
		}
	}
}
#homelink {
	display: block; float: left;
	padding: 1em; margin-top: -1em; margin-left: -1em;
	position: relative; z-index: 1;  // force above .extraheader, see below
	@media only screen and (min-width: 56em) {
		margin-left: -4em;
	}
}
#homelink img {
	width: 4em; height: 4em; max-width: none;
	border-radius: 50%;
	box-shadow: 0em 0em 2em 0em rgba(255, 255, 255, 0.5);
	transition: box-shadow 0.5s;
}
#homelink:hover img {
	box-shadow: 0em 0em 4em 0em rgba(255, 255, 255, 0.8);
}
.extraheader {
	font-size: 90%;
	opacity: 0.7;  // creates stacking context so #homelink has to cope with z-index
}

/* Project list! */
.projectlist {
	list-style-type: none;
	clear: both; margin: 0em; padding: 0em;
	position: relative; z-index: 0;
	a:link, a:visited, a:hover, a:active {
		display: block;
		color: #000; text-decoration: none;
		background: rgba(255, 255, 255, 0.5);
		padding: 1em;
		transition: box-shadow 0.25s, background 0.25s, color 0.25s;
		@media (prefers-color-scheme: dark) {
			color: #ffffff;
			background: rgba(31, 47, 79, 0.7);
		}
	}
	a:hover {
		color: #5f5f7f;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0em 0em 0.5em 0em #fff;
		@media (prefers-color-scheme: dark) {
			color: #ffffff;
			background: rgba(63, 63, 95, 0.9);
			box-shadow: 0em 0em 0.5em 0em rgba(255, 255, 255, 0.25);
			h2 {
				color: #dfdfff;
				text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.5);
			}
		}
	}
	li {
		display: block;
		padding: 0em;
		margin: 1em 0em 0.5em;
		position: relative; z-index: 0;
	}
	img {
		float: right;
		margin-left: 1em;
		max-width: 6em;
		border: 1px solid #ffffff;
		@media (prefers-color-scheme: dark) {
			border: 1px solid #3f4f6f;
		}
	}
	@media only screen and (min-width: 25em) {
		img { max-width: 10em; }
	}
	h2 {
		margin: 0em 0em 0.5em; padding: 0em;
		border: none;
		transition: box-shadow 0.25s, color 0.25s;
	}
	.projectinfo {
		margin: 0em;
		text-align: left;
	}
	.projectmeta {
		clear: right;
		line-height: 1;
		font-size: 90%;
		color: #99c;
		list-style-type: none; margin: 0em; padding: 0em;
		li {
			margin: 0em; padding: 0.5em 0em 0em;
			&:first-child { float: left; }
			&:last-child { float: right; }
		}
		&:after { content: ""; display: table; clear: both; }  // clearfix
	}
}
.projectlist.cloudtheme {
	-webkit-column-width: 15em;
	-moz-column-width: 15em;
	column-width: 15em;
	text-align: center;
	a:link, a:visited, a:hover, a:active {
		padding: 0em;
		background: transparent;
		box-shadow: none;
		@media (prefers-color-scheme: dark) {
			color: #dfdfdf;
		}
	}
	a:hover {
		img {
			border-color: #fff;
			top: 0em;
		}
		h2 {
			color: #6f8fdf;
		}
		.projectinfo {
			box-shadow: 0em 0.5em 2em -1em rgba(0, 0, 31, 1.0);
		}
		@media (prefers-color-scheme: dark) {
			color: #ffffdf;
			img {
				border-color: #4f4f6f;
				box-shadow: 0em 0em 0.5em 0em rgba(255, 255, 255, 0.25);
			}
			h2 {
				color: #dfdfff;
				text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.5);
			}
		}
	}
	li {
		display: inline-block;
		padding: 0em 0em 1.5em;
		margin: 0em;
	}
	img {
		float: none;
		display: block;
		margin: 0em auto -2.1em;
		max-width: 90%;
		max-height: 20em;
		top: 0.5em;
		position: relative;
		z-index: 0;
		border: 0.5em solid rgba(255, 255, 255, 0.5);
		background-color: rgba(255, 255, 255, 0.25);
		transition: top 0.25s, border-color 0.25s;
		@media (prefers-color-scheme: dark) {
			border-color: rgba(31, 47, 79, 0.5);
			background-color: rgba(31, 47, 79, 0.5);
		}
	}
	h2, .projectinfo {
		margin-top: 0.5em;
		position: relative;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	h2 {
		// Shape this like the top of a cloud
		color: #7f7faf;
		margin: 0em;
		padding: 1em 1em 0.25em;
		background-size: 100% 100%;
		background-image: url('{{ site.baseurl }}/img/cloudtop.svg');
		transition: color 0.25s, text-shadow 0.25s;
		z-index: 1;
		@media (prefers-color-scheme: dark) {
			color: #9f9fcf;
			background-image: url('{{ site.baseurl }}/img/cloudtop-dark.svg');
		}
	}
	.projectinfo {
		// Shape this like the bottom of a cloud
		margin: -1px 0em 0em;
		padding: 1px 1em 1em;  // 1px padding-top prevents margin collapse from disconnecting cloud
		background-color: #f7f7fb;
		@include vertical-gradient(background-image, rgba(247, 247, 251, 1), rgba(239, 239, 255, 1));
		background-size: 100% 50%;
		border-bottom-left-radius: 3em 2em;
		border-bottom-right-radius: 3em 2em;
		box-shadow: 0em 0.5em 2em -1em rgba(0, 0, 31, 0.5);
		transition: box-shadow 0.25s;
		*:first-child { margin-top: 0em; }
		*:nth-last-child(2) { margin-bottom: 0em; }
		@media (prefers-color-scheme: dark) {
			background-color: #273757;
			@include vertical-gradient(background-image, rgba(39, 55, 87, 1), rgba(31, 47, 79, 1));
		}
	}
	.projectmeta {
		height: 1em;
		margin-top: 0.8em;
		margin-bottom: -0.5em;
		padding: 0em 1em;
		li {
			padding: 0em;
		}
	}
}
/* Nav section styling */
ul.nav-preheading {
	font-weight: bold;
	padding: 0em; list-style-type: none;
	margin: 0em 0em 0em 1em;
	float: right; clear: right;
	position: relative; z-index: 20;
	border-width: 1px; border-style: solid;
}
ul.nav-preheading > li { margin-bottom: 0em; }
.nav-preheading a:link {
	padding: 0.25em 0.5em;
	text-align: center; display: block;
	text-decoration: none;
}
@media not screen {
	ul.nav-preheading { display: none; }
}
@media only screen and (min-width: 37em) {
	ul.nav-preheading { clear: none; }
}
@media only screen and (min-width: 47em) {
	.nav-preheading a:link { padding: 0.25em; border-radius: 0.25em; }
	ul.nav-preheading { margin: 0em; border-width: 0px; background: transparent; }
	ul.nav-preheading > li { display: inline-block; vertical-align: middle; }
}

