---
---

@import 'mixins';

h1 {
	font-size: 200%;
}

/* cloud-free backgrounds for front page since it has foreground clouds */
@media only screen {
	body {
		background-color: rgba(255, 255, 255, 0.5);
		@media (prefers-color-scheme: dark) {
			background-color: rgba(31, 47, 79, 0.5);
		}
	}
	body::before {
		@include vertical-gradient(background-image, rgba(63, 127, 255, 1), rgba(159, 239, 255, 1));
		@media (prefers-color-scheme: dark) {
			@include vertical-gradient(background-image, rgba(0, 0, 0, 1), rgba(0, 31, 63, 1));
			background-image: url('{{ site.baseurl }}/img/stars.webp');
		}
	}
}

#homelink {
	@media only screen and (min-width: 56em) {
		margin-top: -1.5em;
		margin-left: -5em;
		margin-bottom: -1.5em;
	}
	img {
		width: 6em; height: 6em;
	}
}

@media only screen and (min-width: 66em) {
	body { max-width: 60em; }
}
@media only screen and (min-width: 76em) {
	body { max-width: 70em; }
}

.frontnav {
	font-size: 150%;
	font-family: Essays1743, serif;
	line-height: 1;
	list-style-type: none;
	text-align: center;
	margin: 0em 0em 0.5em; padding: 0em;
	clear: both;
	li {
		display: inline-block;
		margin: 0.25em;
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
	}
}
.frontnav.cloudtheme {
	li {
		margin-top: 0.8em;
	}
	a {
		color: #7f7faf;
		box-shadow: 0em 0.4em 1em -0.6em rgba(0, 0, 31, 0.5);
		transition: box-shadow 0.25s, color 0.25s, text-shadow 0.25s;
		&:hover {
			color: #6f8fdf;
			box-shadow: 0em 0.4em 1em -0.6em rgba(0, 0, 31, 1.0);
		}

		&:before {
			// Shape this like the top of a cloud
			content: '';
			display: block;
			height: 1.4em;
			margin: 0em -1em -1.3em;
			padding: 0em;
			background-size: 100% 100%;
			background-image: url('{{ site.baseurl }}/img/cloudtop.svg');
			background-repeat: no-repeat;
			background-position: bottom;
			position: relative;
			top: -0.6em;
			z-index: -1;
		}
		// Shape this like the bottom of a cloud
		height: 1.6em;
		position: relative; z-index: 0;  // create a stacking context to contain the :before
		padding: 0em 1em;
		background-color: #f7f7fb;
		@include vertical-gradient(background-image, rgba(255, 255, 251, 1), rgba(255, 255, 251, 1) 6.25%, rgba(247, 247, 251, 1) 50%, rgba(239, 239, 255, 1));
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: bottom;
		border-top-left-radius: 1.5em 0.8em;
		border-top-right-radius: 1.5em 0.8em;
		border-bottom-left-radius: 1.5em 0.8em;
		border-bottom-right-radius: 1.5em 0.8em;

		// dark mode clouds
		@media (prefers-color-scheme: dark) {
			color: #9f9fcf;
			background-color: #273757;
			@include vertical-gradient(background-image, rgba(47, 63, 95, 1), rgba(47, 63, 95, 1) 6.25%, rgba(39, 55, 87, 1) 50%, rgba(31, 47, 79, 1));
			&:hover {
				color: #dfdfff;
				text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.5);
			}
			&:before {
				background-image: url('{{ site.baseurl }}/img/cloudtop-dark.svg');
			}
		}
	}
}
