---
title: Andrew Geng
layout: default
extraheader: in the Cloooooooooud
localstyles: ["/front.css"]
---

<ul class="frontnav cloudtheme">
	<li><a href="{{ site.baseurl }}/w/">
		<span class="icon">&#x1f5d2;</span> Blog</a></li>
	<li><a href="https://github.com/pteromys">
		<span class="icon">&#xf00a;</span> GitHub</a></li>
	<li><a href="https://vis.social/@pteromys" rel="me">
		<span class="icon">&#xf00b;</span> vis.social</a></li>
	<li><a href="{{ site.baseurl }}/music/">
		<span class="icon">&#x266c;</span> Music</a></li>
</ul>

<ul class="projectlist cloudtheme">
	{% for project in site.data.projects limit:300 %}
		{% unless project.suppress %}
			{% include project.html project=project %}
		{% endunless %}
	{% endfor %}
</ul>

