@font-face {
    font-family: 'NutIcons-blog';
    src: url('blog2.eot');
    src: url('blog2.eot?#iefix') format('embedded-opentype'),
         url('blog2.woff') format('woff'),
         url('blog2.ttf') format('truetype'),
         url('blog2.svg#NutIcons-blog-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply this font to the icon class. */
.icon { font-family: NutIcons-blog, sans; }
