<header>
<a id="homelink" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/chibimelon-round.svg" alt="Home" title="Home" /></a>
<div class="iconlinks">
<a href="{{ site.baseurl }}/w" title="Blog" class="icon">&#x1f5d2;</a>
<a href="https://github.com/pteromys" title="GitHub" class="icon">&#xf00a;</a>
<a href="http://math.uchicago.edu/~ageng/" title="Math homepage" class="icon">&#x26bd;</a>
</div>
<h1 itemprop="name headline">{{ page.title }}</h1>
<div class="extraheader">{{ include.extra }}</div>
</header>
